@model CheeseMVC.ViewModels.AddCategoryViewModel

<form asp-controller ="Category" asp-action ="Add" method="post">
    <br />

    <label asp-for="Name"></label>
    <input asp-for= "Name"/>
    <span class="error" asp-validation-for="Name"></span>








</form>
