@model CheeseMVC.ViewModels.AddMenuViewModel


   <h3> @ViewBag.Title</h3>

 <br />
 <form asp-controller="Menu" asp-action="Add" method="post">

     <label asp-for="Name"></label>
     <input asp-for="Name" />

     <input type="submit" value="Create Menu" />
     <span class="error" asp-validation-for="Name"></span>
 </form>

